
select option { color: black; }
select option:first-child{
  color: wheat;
}
body{
	overflow: scroll;
	overflow-x: hidden;
}
section{
  font-family: Georgia, serif;
}
.cimage:hover{
 transform: scale(0.99);
 cursor: pointer;
}
.bimage:hover{
 transform: scale(0.99);
 cursor: pointer;
}
.myfont{
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
.myfontTimes{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#div1st
{
	background-image: url("../img/Pictureb.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  box-sizing: border-box;
  font-family: Georgia, serif;

}
::placeholder{
	color: white;
	font-weight: bold;
}
section{
	font-size: 2vw;
	width:100%;
	height:30%;
	font-size:30px;
	text-align: center;
}
.divs{
	color: black;
	width:100%;
}
.divider{
  position:absolute;
  top:10%;
  border-left:2px solid black;
  z-index: 999;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

@media (min-width: 992px){
  .A {
    width: 33.33%;
  }

}

@media (min-width: 768px) and (max-width: 991px){
  .B {
    width: 33.33%;
  }
  .col-md-12 > .divs{
	width:95%;
  }
}


.tick-img{
  width: 60px;
  margin-left: 10%;
  }

@media (max-width: 1024px){

  h4{
    font-size: 100% !important;
  }
}

@media (max-width: 376px){  
  .tick-img{
    margin-left: 10%;
  }
  }
@media (max-width: 767px){
  .C {
    width: 100%;
  }
  h4{
    font-size: 83% !important;
  }
  
.tick-img{
  width: 30px;
  margin-left: 5%;
 }
}
.imagesStyle{
  object-fit:cover !important;
  height: 100% !important; 
}

.notifyjs-foo-base {
  opacity: 0.85;
  width: 200px;
  background: #F5F5F5;
  padding: 5px;
  border-radius: 10px;
}

.notifyjs-foo-base .title {
  width: 100px;
  float: left;
  margin: 10px 0 0 10px;
  text-align: right;
  color: green;
}

.notifyjs-foo-base .buttons {
  width: 70px;
  float: right;
  font-size: 9px;
  padding: 5px;
  margin: 2px;
}

.notifyjs-foo-base button {
  font-size: 9px;
  padding: 5px;
  margin: 2px;
  width: 60px;
}
body{
  font-family: 'Times New Roman', Times, serif;
}